@media(max-width:1050px){
    .header-left{
        padding:0 0 0 15px;
    }
    
    .header-right{
        padding:0 15px 0 0;
    }
    
    
}


@media(max-width:670px){
    header{
        padding-bottom:20px;
    
    .header-left{
        padding-left:15px;
    }
    
    .header-right{
        padding:0 10px 0 0;
    }
   
}

