@media(max-width:1050px){
    .header-left{
        padding:0 0 0 15px;
    }
    
    .header-right{
        padding:0 15px 0 0;
    }
    
    
}


@media(max-width:670px){
    header{
        padding-bottom:30px;
    }
    
    .header-left{
        padding-left:30px;
    }
    
    .header-right{
        padding-top:40px;
        padding-right:30px;
    }
   
     footer h1{
         padding-left:80px;
    }
}

