@media(max-width:1000px){
    .header-left{
        padding:0 0 0 15px;
    }
    
    .header-right{
        padding:0 15px 0 0;
    }
    
    footer{
        height:650px;
    }
}


@media(max-width:670px){
    .header-left{
        padding:0 0 0 10x;
    }
    
    .header-right{
        padding:0 10px 0 0;
    }
    
    footer p{
        margin-bottom:5px;
        
    }
}

