body{
    font-family: HGP明朝B;
}

.container{
    width:1000px;
    margin:0 auto;
}

header{
    background-image:url("back.jpg");
    height: 120px;
    width:100%;
    position: fixed;
    top:0px;
    z-index: 10;
}

.header-left{
    float:left;
    padding:5px 0 0 320px;
    letter-spacing: 8px;
}

.header-right{
    float:right;
    text-align: right;
    padding:35px 320px 0 0;
    letter-spacing: 3px;
}


.fas{
    padding-right:7px;
}

.menu{
    float:left;
    padding:40px 30px;
    width:100%;
    text-align: center;
    border:1px solid #d3d3d3;
    box-sizing: border-box;
    color:#4169e1;
}

.menu:hover{
    opacity:0.5;
}

.aisatu{
    background-image: url("back.jpg");
    width:20%;
}

.plan{
    background-image: url("back.jpg");
    width:20%;
}

.can{
    background-image: url("back.jpg");
    width:20%;
}

.ques{
    background-image: url("back.jpg");
    width:20%;
}

.map{
    background-image: url("back.jpg");
    width:20%;
}

.first-wrapper img{
    margin-top: 100px;
}

.second-wrapper img{
    margin-top: 100px;
}

.third-wrapper{
    width:100%;
    height: 800px;
    text-align: center;
}

.third-wrapper img{
    margin-top: 100px;
}

input{
    width:500px;
    padding:5px 10px;
    font-size:17px;
    margin-bottom:20px;
}
 
textarea{
    width:500px;
    height:140px;
    padding:5px 10px;
    font-size:17px;
    margin-bottom:20px;
}

.bot{
    cursor:pointer;
    width:300px;
    height:50px;
    border-radius:10px;
}

footer{
    background-image:url("clo.jpg");
    background-size:cover;
    opacity: 0.5;
    height:600px;
}

footer h1{
    padding-top:20px;
    padding-bottom:50px;
    font-size:50px;
}

footer p{
    padding-left: 180px;
    margin-bottom:50px;
    font-size:20px;
}
